.navbar {
  overflow: hidden;
  display: block;
  //justify-content: space-between;
  //align-items: center;
  padding: 18px 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;

  &__item {
    opacity: 0.8;
    &:hover {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  .menu__item {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

@media (max-width: $breakpoint768) {
  .menu__item {
    display: none;
  }
  .logo {
    display: none;
  }
  .navbar {
    display: none;
    //justify-content: flex-end;
    //align-items: center;
  }
}
