@use "sass:math";
$containerWidth: 1380;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

@media (max-width: 780px) {
  .burger__btn {
    display: flex;
  }
}

@media (max-width: 798px) {
  .menu__item {
    display: none;
  }
  .logo {
    display: none;
  }
} 
