.burger {
  display: none;
  cursor: pointer;
}

.burger__btn {
  display: none;
  flex-direction: column;
  position: fixed;
  cursor: pointer;
  z-index: 5;
  margin-top: 15px;
  background: rgba(197, 197, 190, 0.5);
  @media (max-width: $breakpoint480) {
    left: 80vw;
  }
}

.line {
  margin: 5px;
  border-radius: 4px;
  width: 40px;
  height: 5px;
  background: #000;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 7vh;
  padding-top: 10px;

  .menu__item-mobile {
    cursor: pointer;
    a {

    }
    &:hover {
      transition: 0.8s hover ease;
    }
  }
}

@media (max-width: 780px) {
  .burger__btn {
    display: flex;
  }
}
