nav {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}



.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;

  &__item {
    opacity: 0.8;

    &:hover {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

.nav__control {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint480) {
    display: none;
  }
}

.nav__btn-primary {
  margin-left: 45px;
  margin-right: 8px;

  @media (max-width: $breakpoint480) {
    margin-left: 15px;
  }
}

.nav__btn {
  font-size: 13px;
  line-height: 16px;
  padding: 8px 12px;
}

select {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 56px;

  option {
    border: none;

    &:hover {

    }
  }
}
