@import "./reset.scss";
@import "./styles/_colors";
@import "./styles/_media";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

//Fonts
$fontMain: "Gilroy", sans-serif;

.container {
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  font-family: $fontMain;
  overflow: hidden;
  @media (max-width: $breakpoint480) {
    padding: 5px;
  }
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.section__wrapper {
  padding-left: 80px;
  padding-right: 80px;
  @media (max-width: $breakpoint768) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: $breakpoint480) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  padding: 15px 22px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  display: inline-block;
}


.hidden {
  display: none !important;
}

.responsive__img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

@import "./styles/header/header.scss";
@import "./styles/header/hamburger-nav.scss";
@import "./styles/accordion/accordion.scss";
@import "./styles/header/navbar.scss";
@import "./styles/hero/hero.scss";
@import "./styles/footer/footer.scss";
